
	</body>
	<footer class="page-footer font-small bg-secondary">
	  <div class="footer-copyright text-center text-white py-3">
	   	Created by Ioan Zîcu. © <%= currentYear() %> All rights reserved.
	  </div>
	</footer>
	<script src="/jquery.min.js"></script>
	<script src="/popper.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</html>