<% include ../partials/header %>

<div class="container" id="form-container">
	<h1 id="form-edit">Add New Comment to <%= campground.name %></h1>
	<div class="row">
		<div id="form-body">
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST" id="form-validation" novalidate>
				<div class="form-group">
					<span class="label font-weight-bold">Text</span>
					<input class="form-control" type="text" name="comment[text]" placeholder="text" required/>
				</div>
				<input class="form-control" type="hidden" name="comment[creatingAt]"/>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			<script src="/form-validation.js"></script>
			<a href="/campgrounds">Go Back!</a>
		</div>
	</div>
	<div class="comment-footer"></div>
</div>

<% include ../partials/footer %>
